version: '3'

volumes:
  symfony_mysql_volume:
    external: true

networks:
  symfony-network:
    external: true

services:
  phpfpm:
    image: 'bitnami/php-fpm:latest'
    container_name: phpfpm
    networks:
      symfony-network:
        aliases:
          - symfony-phpfpm
    volumes:
      - "${PRJ_DIR}:/app"
  nginx:
    image: 'bitnami/nginx:latest'
    container_name: nginx
    depends_on:
      - phpfpm
    networks:
      symfony-network:
        ipv4_address: 172.25.0.3
        aliases:
          - symfony-nginx

    ports:
      - '80:8080'
      - '443:8443'
    volumes:
      - "${PRJ_DIR}/docker/nginx.conf:/bitnami/nginx/conf/vhosts/nginx.conf"
  db:
    image: mysql:5.7
    ports:
      - "3310:3306"
    volumes:
      - symfony_mysql_volume:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=symfony
      - MYSQL_USER=symfony
      - MYSQL_PASSWORD=symfony
    networks:
      symfony-network:
        ipv4_address: 172.25.0.4
        aliases:
          - symfony-mysql
